@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #0F0F0F;
}

header {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.logo {
    font-size: 24px;
}

.jsonlogo {
    margin: 0;
    font-size: 60px;
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00;
}

.editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 30px;
}

.left-editor,
.right-editor {
    width: 45%;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: #0d320d;
    box-shadow: 0 0 5px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
    transition: box-shadow 0.3s ease;
}

.editor-controls {
    position: absolute;
    top: 10px;
    right: 10px;
}

.editor-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.editor-controls button i {
    margin-right: 5px;
}

.editor-container textarea {
    width: 100%;
    height: 400px;
    resize: none;
    background-color: #0d320d;
    color: #fff;
    border: none;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .editor-container {
        flex-direction: column;
    }

    .left-editor,
    .right-editor {
        width: 90%;
        margin: 10px 0;
    }

    .editor-controls {
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
    }

    .editor-controls button {
        margin: 0 5px;
    }
}

.left-editor:hover,
.right-editor:hover {
    box-shadow: 0 0 10px #00ff00, 0 0 30px #00ff00, 0 0 60px #00ff00;
}

#tree-view {
    width: 50%;
    height: 400px; /* Daha tutarlı bir yükseklik değeri */
    border: 4px solid green;
    overflow: auto;
    color: #fff;
    background-color: #0F0F0F; /* Arka plan rengini ağaç görünümüne uyacak şekilde güncelledik */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.7), 0 0 20px rgba(0, 255, 0, 0.5); /* Gölge efekti */
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
